:root {
  --colour1: #03045e;
  --colour2: #0077b6;
  --colour3: #00b4d8;
  --colour4: #90e0ef;
  --colour5: #caf0f8;
  --colour6: #ff2233;
  --colour7: #ff6699;
  --colour8: #229933;
  --colour9: #22ff33;
  --colour10: #888800;
  --colour11: #ffff00;



  --height: 30px;
  --width: 200px;
  --widthBig: 300px;
  --widthBigger: 350px;
  --widthBiggerer: 370px;
  --widthSmall: 100px;
  --margin: 10px;
}

body {
  background-color: var(--colour1);
  font-family: Arial;
}

.App {
  text-align: center;
}

.NavBar,
.Form,
.TableList,
.PartyList,
.Table,
.Party,
.TableSelected,
.PartySelected,
.TableParty {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.NavButton {
  min-width: var(--width);
  min-height: var(--height);
  margin: var(--margin);

  background-color: var(--colour2);
  color: var(--colour1);
}

.NavButton:hover,
.FormButton:hover {
  background-color: var(--colour3);
}

::placeholder {
  color: var(--colour1);
}

.FormInput {
  min-width: var(--width);
  max-width: var(--width);
  min-height: var(--height);
  margin: var(--margin);
}

.FormInputSmall {
  min-width: var(--widthSmall);
  max-width: var(--widthSmall);
  min-height: var(--height);
  margin: var(--margin);
}
.FormInputLarge {
  min-width: var(--widthBiggerer);
  max-width: var(--widthBiggerer);
  min-height: var(--height);
  margin: var(--margin);
}
.FormButton {
  min-width: var(--widthSmall);
  min-height: var(--height);
  margin: var(--margin);

  background-color: var(--colour2);
  color: var(--colour1);
}

.KillButton {
  position: absolute;
  right: 0px;
  top: 0px;
  min-height: var(--height);
  min-width: var(--height);
  max-height: var(--height);
  max-width: var(--height);
  background-color: var(--colour6);
  color: var(--colour1);
}

.KillButton:hover {
  background-color: var(--colour7);
}

.LinkButton {
  position: absolute;
  left: 0px;
  top: 0px;
  min-height: var(--height);
  min-width: var(--height);
  max-height: var(--height);
  max-width: var(--height);
  min-height: var(--height);
  background-color: var(--colour8);
  color: var(--colour1);
}

.LinkButton:hover {
  background-color: var(--colour9);
}

.UnlinkButton {
  position: absolute;
  left: 0px;
  top: 0px;
  min-height: var(--height);
  min-width: var(--height);
  max-height: var(--height);
  max-width: var(--height);
  min-height: var(--height);
  background-color: var(--colour10);
  color: var(--colour1);
}

.UnlinkButton:hover {
  background-color: var(--colour11);
}

.Table,
.Party,
.TableParty {
  position: relative;
  margin: var(--margin);
  max-width: var(--widthBig);
  min-width: var(--widthBig);
  min-height: var(--height);
  border-style: solid;
  border-color: var(--colour3);
  background-color: var(--colour4);
}

.Table {
  max-width: var(--widthBigger);
  min-width: var(--widthBigger);
}

.TableParty {
  margin-top: 15px;
}

.WorkArea {
  position: relative;
}

.PartyList {
  border-style: solid;
  position: absolute;
  background-color: var(--colour2);
  max-width: var(--widthBigger);
  left: 0;
  top: 0
}

.TableList {
  border-style: solid;
  position: absolute;
  background-color: var(--colour2);
  left: var(--widthBiggerer);
  top: 0
}

.LoadSaveHolder {
  display: inline-block;
}

.InstructionHolder {
  display: grid;
  grid-template-columns: var(--height) auto;
}

.InstructionBox,
.CopyBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  max-width: 1000px;
  word-wrap: break-word;
  min-height: var(--height);
  line-height: 200%;

  border-color: var(--colour4);
  border-style: solid;

  background-color: var(--colour3);
}

.FakeButton {
  display: grid;
  position: relative;
  max-width: var(--height);
  max-height: var(--height);
}


.FakeKillButton {
  min-height: var(--height);
  min-width: var(--height);
  max-height: var(--height);
  max-width: var(--height);
  background-color: var(--colour6);
  color: var(--colour1);
  margin: 2px;
}

.FakeKillButton:hover {
  background-color: var(--colour7);
}

.FakeLinkButton {
  min-height: var(--height);
  min-width: var(--height);
  max-height: var(--height);
  max-width: var(--height);
  min-height: var(--height);
  background-color: var(--colour8);
  color: var(--colour1);
  margin: 2px;
}

.FakeLinkButton:hover {
  background-color: var(--colour9);
}

.FakeUnlinkButton {
  min-height: var(--height);
  min-width: var(--height);
  max-height: var(--height);
  max-width: var(--height);
  min-height: var(--height);
  background-color: var(--colour10);
  color: var(--colour1);
  margin: 2px;
}

.FakeUnlinkButton:hover {
  background-color: var(--colour11);
}

.ListTop {
  margin: 8px;
}

.MemberList {
  display: block;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  transform: translatex(-10px)
}